body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #b5838d;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: #e5989b;
    text-align: center;
    width: 40%;
    padding: 10px;
    border-radius: 15px;
}

header h1 {
    color: #264653;
    font-family: Tahoma;
    font-size: 2.5em;
}

main form p {
    color: #2a9d8f;
    font-family: Tahoma;
    font-size: 1.5em;
    margin: 10px;
}

input[type="text"] {
    width: 30%;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
